body {
    background-color: #2e2e2f;
    height: 100vh;
}

.checkout-container {
    height: 100%;
}

.checkout-item{
    background: #fff;
    height: 10em;
    width: 70%;
}

.checkout-total {
    background: rgba(0, 0, 0, 0.6);
    height: 10em;
    width: 70%;
}

.checkout-total .display-total {
    font-size: 25px;
    font-weight: bolder;
}

.total-container{
    background: #fff;
    height: 5em;
    width: 70%;
}

.checkout-item img {
    width: 20%;
    height: 90%;
}

.content-holder{
    width: 75%;
    height: 90%;
}

.content-holder button {
    height: 45px;
}

.content {
    height: 85%;
    width: 80%;
}

.content p {
    font-weight: 100;
    font-size: 15px;
}

.emoji {
    font-size: 150px;
}

.message-holder {
    background-color: rgba(0, 0, 0, 0.484);
}

@media screen and (max-width: 720px) {
    .checkout-item {
        width: 288px;
        height: 363.35px;
    }

    .checkout-total {
        
        margin-bottom: 3rem;  
    }
    
    .display-total {
        font-size: 20px !important;  
    }
    
    .checkout-item {
        height: auto;
        flex-direction: column;
        width : 90%;
        align-items: center !important;
        padding: 1rem
    }

    .checkout-item img {
        height: 15rem;
        width: 15rem;
    }

    .content-holder {
        height: 15rem;
        width: 100%;
        flex-direction: column;     
        justify-content: center !important;
        gap: 1rem
    }

    .content-holder button {
        width: 80%;
        margin-bottom: 1rem;
    }

    .content-holder .content {
        height: auto;
    }
}