/* styling the landing page section */
*,
*::after,
::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
    width: 100vw;
}

.landing-section {
    background:
        linear-gradient(rgba(0, 0, 0, .85), rgba(0, 0, 0, .85)),
        url('https://i.postimg.cc/Fskz57JJ/Background.png');
    background-size: cover;
    object-fit: cover;
    padding: 0 3rem;
}

header {
    height: 10vh;
    width: 100%;
    padding: 0 4rem;
}

header .logo .dots li {
    height: 10px;
    width: 10px;
}

header nav {
    width: 30%;
    transition: .5s;
}

main {
    height: 90vh;
    padding: 0 4rem;
    align-items: center;
    text-align: center;
}

main h1 {
    font-size: 65px;
}

main button {
    width: 163px;
    height: 50px;
    border: none;
    border-radius: 3px;
    font-weight: 500;
}


@media screen and (max-width: 790px) {
    .landing-section {
        padding: 0 !important;
    }

    header {
        padding: 0 !important;
    }

    

    header nav{
        display: flex;
        flex-direction: column;
        background: white;
        position: absolute;
        width: 100%;
        height: auto;
        align-items: flex-start;
    }

    header nav li {
        height: 4rem;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        font-size: larger;
        background-color: rgba(255, 255, 255, 0.791);
        color: rgba(0, 0, 0, 0.902);
        font-weight: 500;
    }
    main h1 {
        font-size: 35px;
    }
}
