/* styling the landing page section */
*,
*::after,
::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
    width: 100vw;
    scroll-margin-top: 10vh;
    background: rgba(0, 0, 0, 1);
}

.landing-section {
    background:
        linear-gradient(rgba(0, 0, 0, .85), rgba(0, 0, 0, .85)),
        url('https://i.postimg.cc/Fskz57JJ/Background.png');
    background-size: cover;
    object-fit: cover;   
}

header {
    height: 10vh;
    width: 100%;
    padding: 0 4rem;
}

header .logo .dots li {
    height: 10px;
    width: 10px;
}

header nav {
    width: 30%;
    transition: .5s;
}

main {
    height: 90vh;
    padding: 0 4rem;
    align-items: center;
    text-align: center;
}

main h1 {
    font-size: 65px;
}

main button {
    width: 163px;
    height: 50px;
    border: none;
    border-radius: 3px;
    font-weight: 500;
}


@media screen and (max-width: 790px) {
    .landing-section {
        padding: 0 !important;
    }
    main h1 {
        font-size: 35px;
    }
}
