body {
    background-color: #2e2e2f;
}

.filter-container {
    height: auto;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.573); 
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 0 15rem;
}

.items-container {
    min-height: 40vh;
}

.card-body {
    background-color: #020202e6;
    border-radius: 5px;
    margin: 3px;
}

.button-group {
    height: 20px;
    border-radius: 5px !important;
}

.button-group button {
    height: 100%;
}

.add-btn {
    background-color: white;
    font-weight: 600;
}
