body {
    background-color: #2e2e2f;
}

.product-section {
    height: auto !important;
}

.filter-container {
    height: auto;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.573);
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 5rem 15rem;
}

.items-container {
    min-height: 50vh;
}

.card-body {
    background-color: #020202e6;
    border-radius: 5px;
    margin: 3px;
}

.card {
    height: auto;
    min-height: 70%;
}

.button-group {
    height: 20px;
    border-radius: 5px !important;
}

.button-group button {
    height: 100%;
}

.card-text {
    height: 50%;
    overflow-y: auto;
}

.add-btn {
    background-color: white;
    font-weight: 600;
}

.card-img-top {
    height: 60%;
    padding: 1rem;
}

.emoji {
    font-size: 150px;
}


@media screen and (max-width: 790px) {
    .filter-container {
        height: auto;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.573);
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding: 1rem 3rem;
    }

    .btn-filter {
        width: 100% !important;
    }
}